{
    "builder": {
      "gc": {
        "defaultKeepStorage": "{{ DOCKER_DEFAULT_STORAGE }}",
        "enabled": true
      }
    },
    "experimental": false,
    "features": {
      "buildkit": true
    }
  }
